# This file contains common pin mappings for the Voron Leviathan V1.1
# To use this config, the firmware should be compiled for the STM32F446 with "No bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

[board_pins my_aliases]
mcu: mcu
aliases:
    # EXP1 header
    EXP1_1=PG9, EXP1_2=PG12,
    EXP1_3=PG13, EXP1_4=PG14,
    EXP1_5=PC13, EXP1_6=PC14,    # Slot in the socket on this side
    EXP1_7=PC15, EXP1_8=PF0,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PE2, EXP2_4=PE4,
    EXP2_5=PE3, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PE5, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PE4

    # Motors
    X_EN= PA15, X_STEP= PC8,    X_DIR= PC9,     X_CS= PD9,
    Y_EN= PA13, Y_STEP= PA10,   Y_DIR= PA14,    Y_CS= PD8,
    Z_EN= PA9,  Z_STEP= PC6,    Z_DIR= PC7,     Z_CS= PB10,
    Z1_EN= PA8, Z1_STEP= PB12,  Z1_DIR= PB11,   Z1_CS= PB2,   
    E_EN= PC4,  E_STEP= PB0,    E_DIR= PB1,     E_CS= PA6,

    # TMC SPI
    MISO= PB14,
    MOSI= PB15,
    SCK= PB13,

    # TMC UART
    X_UART= PD9,
    Y_UART= PD8,
    Z_UART= PB10,
    Z1_UART= PB2,
    E_UART= PA6,    

    #  Endstops
    X_STOP= PD3,
    Y_STOP= PD2,
    Z_STOP= PC3,
    E_STOP= PC2,

    # Diag Pins for sensorless homing
    X_DIAG= PD3,
    Y_DIAG= PD2,
    Z_DIAG= PC3,
    E_DIAG= PC2,

    # Thermistor
    THB= PA0,
    TH0= PA10,
    TH1= PA2,

    # Heater
    HEB= PA5,
    HE0= PC5,
    HE1= PA7,

    # RGB
    RBG1= PC14,
    RBG2= PC11,

    #Fans
    FAN0= PA4,
    FAN1= PA3,
    PIFAN= GPIO26,

    # Induction Probe
    IND= PC15,

    # BL-Touch
    PROBE = PC15,
    SERVO = PC13,
